html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }
  
.container {       
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/background-desktop.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circulo {  
    position: absolute;   
    left: 0;
    top: 0; 
}
.lineas1 {
    position: absolute;   
    left: 0;
    bottom: 0; 
}
.lineas2 {
    position: absolute;   
    right: 0;
    top: 0;   
}

/* Tabletas (768-1023) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    background-image: url('assets/images/background-tablet.png') ;
  }  
}
/* Mobile (767px)*/
@media (max-width: 767px) {
  .container {
    background-image: url('assets/images/background-mobile.png') ;    
  }
  
}